.disabledBtn {
  cursor: disabled;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  background: rgb(167, 167, 167);
  color: white;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgb(58, 58, 58);
}

.startBtn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  background: rgb(255, 193, 7);
  color: white;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgb(58, 58, 58);
}

.startBtn:hover {
  cursor: pointer;
  background: rgba(255, 193, 7, 0.8);
}

.doneBtn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  background: rgb(12, 199, 59);
  color: white;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgb(58, 58, 58);
}

.doneBtn:hover {
  cursor: pointer;
  background: rgba(12, 199, 59, 0.8);
}
