.startBtn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  background: rgb(32, 150, 219);
  color: white;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgb(58, 58, 58);
}

.startBtn:hover {
  cursor: pointer;
  background: rgba(32, 150, 219, 0.8);
}

.doneBtn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  background: rgb(12, 199, 59);
  color: white;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgb(58, 58, 58);
}

.doneBtn:hover {
  cursor: pointer;
  background: rgba(12, 199, 59, 0.8);
}
